.listtable {
    border-style: solid;
    border-width: 3px;
    border-color: green;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: auto;
    margin-right: auto;

}

th, td {
    border-style: solid;
    border-width: 3px;
    border-color: green;
    background-color: teal;
}

th:hover {
    background-color: #3498db;
}

td:hover {
    background-color: #3498db;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body {
    background-color: #1abc9c;
}

a:link, a:visited {
  background-color: #16a085;
  color: black;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-style: solid;
  border-radius: 12px;
  border-color: #2c3e50;
}

a:hover, a:active {
  background-color: #27ae60;
}

a {
    margin-left: auto;
    margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    background-color: #16a085;
    color: black;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-radius: 12px;
    border-color: #2c3e50;
}

button:hover, button:active {
    background-color: #27ae60;
}

.buttons {
    margin-left:auto;
    margin-right:auto;
    display: flex;
    justify-content: center;
}

.buttons1 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.buttons2 {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.ulnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #34495e;
}

.linav {
  float: left;
}

.linava {
  display: block;
  color: #16a085;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.linava:hover {
  background-color: #27ae60;
}