<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Consoles I Have Known and Loved</title>
  <link th:href = "@{main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<h2>Consoles I Have Known and Loved</h2>
<table class = "listtable">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Company</th>
    <th>Release Date</th>

    <!--            <th>View</th>-->
    <!--            <th>Update</th>-->
    <!--            <th>Delete</th>-->
  </tr>
  </thead>
  <tbody>
  <tr th:each="Console: ${consoles}">
    <td th:text="${Console.id}">...</td>
    <td th:text="${Console.name}">...</td>
    <td th:text="${Console.manuCompany}">...</td>
    <td th:text="${Console.releaseDate}">...</td>
    <!--            <td></td>-->
    <!--            <td></td>-->
    <!--            <td></td>-->
  </tr>
  </tbody>
</table>
<div class = "buttons1">
  <a href="list">To Video Game List</a>
</div>
<div class = "buttons2">
  <a href="consoleform">Add a Console</a>
</div>
</body>
</html>