<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Video Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href = "@{main.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<div>

    <h2>Add Video Game</h2>
    <hr/>

    <form method="POST" th:action="@{/videogameform}" th:object="${videoGame}">

        <input type="text" th:field="*{id}" placeholder="Enter Id" />

        <input type="text" th:field="*{name}" placeholder="Enter Name" />

        <input type="text" th:field="*{studio}" placeholder="Enter Studio" />

        <input type="text" th:field="*{rating}" placeholder="Enter Rating" />

        <input type="text" th:field="*{review}" placeholder="Enter Review" />

        <button type="submit">Save</button>

    </form>
    <hr/>
    <div class = buttons>
    <a th:href="@{/list}">Back to list</a>
    </div>
</div>

</body>
</html>